.container {
    display: grid;
    gap: 24px;
}

#gridArea {
    display: grid;
    width: 720px;
    height: 720px;

    border: 1px solid black;
}

.actions {
    width: 720px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.sizeBtn {
     padding: 24px 12px;
}

.cell {
    border: 1px solid black;
}