body {
    margin: 240px auto;
    background-color: #f9fafb;
}


.wrapper {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
}

#gridArea {
    display: grid;
    width: 720px;
    height: 720px;

    border: 1px solid black;
}

.cell {
    border: 1px solid hsla(231,82%,7%,0.3);
}

.sizeBtn, .colorBtn {
    background: linear-gradient(180deg, #FFF 0%, #F3F4F6 100%);;
    display: block;
    color: #1f2937;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
}

.sizeBtn:hover,
.colorBtn:hover {
    background-color: #e5e7eb;
    transform: translateY(1px);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.sizeBtn:active,
.colorBtn:active {
    background-color: #e5e7eb;
    transform: translateY(1px);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.actions,
.colorButtons {
    width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}